.App {
  text-align: center;
  background-color: #FCF9F9;
  height: 100vh;
  padding-top: 20px;
}

.svg-container {
  border-radius: 20px !important;
}

.main-svg {
  border-radius: 20px !important;
}
