.App {
  text-align: center;
  background-color: #FCF9F9;
  height: 100vh;
  padding-top: 20px;
}

.svg-container {
  border-radius: 20px !important;
}

.main-svg {
  border-radius: 20px !important;
}

.ticker-submit-btn {
  margin-left: 5px;
  margin-top: 10px;
}

.ticker-input-box {
  border: 1px solid limegreen;
  border-radius: 5px;
  text-align: center;
}

.ticker-input-box:focus {
  outline: none;
  border: 1px solid limegreen;
  box-shadow: 3px 3px 3px limegreen;
  border-radius: 5px;
  text-align: center;
}
